<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>security.protect.patterns</param-name>
        <!-- qui configuriamo i pattern delle URL da proteggere -->
        <param-value>
		    /secured,
		    /other,
		    /admin_main,
		    /modify_event,
		    /modify_classroom,
		    /modify_manager,
		    /modify_classroom_group,
		    /modify_location,
		    /modify_tool,
		    /modify_type,
		    /modify_course,
		    /modify_user,
		    /modify_event_secondary
		</param-value>
    </context-param>
    <context-param>
        <param-name>data.source</param-name>
        <!-- qui configuriamo in nome della data source da usare nel codice -->
        <param-value>jdbc/webdb2</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.static.author</param-name>
        <param-value>Giuseppe Della Penna</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.static.homepage_url</param-name>
        <param-value>homepage</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.filler.dummy</param-name>
        <param-value>it.univaq.f4i.iw.examples.application.DummyModelFiller</param-value>
    </context-param>
    <listener>
        <listener-class>it.univaq.f4i.iw.framework.application.ApplicationInitializer</listener-class>
    </listener>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>it.univaq.f4i.iw.examples.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>it.univaq.f4i.iw.examples.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homepage</servlet-name>
        <servlet-class>it.univaq.f4i.iw.examples.controller.HomepageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>secured</servlet-name>
        <servlet-class>it.univaq.f4i.iw.examples.controller.SecureController</servlet-class>
    </servlet>
    <servlet>
	    <servlet-name>current_events</servlet-name>
	    <servlet-class>it.univaq.f4i.iw.examples.controller.CurrentEventsController</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>public</servlet-name>
        <servlet-class>it.univaq.f4i.iw.examples.controller.PublicController</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>department</servlet-name>
        <servlet-class>it.univaq.f4i.iw.examples.controller.Dep_calendarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>given_day</servlet-name>
        <servlet-class>it.univaq.f4i.iw.examples.controller.given_day_calendarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_main</servlet-name>
        <servlet-class>it.univaq.f4i.iw.examples.controller.main_adminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>event_details</servlet-name>
        <servlet-class>it.univaq.f4i.iw.examples.controller.EventDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modify_course</servlet-name>
        <servlet-class>it.univaq.f4i.iw.examples.controller.ModifyCourseController</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>modify_tool</servlet-name>
    	<servlet-class>it.univaq.f4i.iw.examples.controller.ModifyToolController</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>modify_type</servlet-name>
	    <servlet-class>it.univaq.f4i.iw.examples.controller.ModifyTypeController</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>modify_location</servlet-name>
	    <servlet-class>it.univaq.f4i.iw.examples.controller.ModifyLocationController</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>modify_classroom_group</servlet-name>
	    <servlet-class>it.univaq.f4i.iw.examples.controller.ModifyClassroomGroupController</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>modify_manager</servlet-name>
	    <servlet-class>it.univaq.f4i.iw.examples.controller.ModifyManagerController</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>modify_classroom</servlet-name>
	    <servlet-class>it.univaq.f4i.iw.examples.controller.ModifyClassroomController</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>modify_event</servlet-name>
	    <servlet-class>it.univaq.f4i.iw.examples.controller.ModifyEventController</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>modify_user</servlet-name>
	    <servlet-class>it.univaq.f4i.iw.examples.controller.ModifyUserController</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>modify_event_secondary</servlet-name>
	    <servlet-class>it.univaq.f4i.iw.examples.controller.ModifyEventSecondaryController</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>CSV_exporter</servlet-name>
	    <servlet-class>it.univaq.f4i.iw.examples.controller.CSVEventExporterController</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>CSV_exporter_classroom</servlet-name>
	    <servlet-class>it.univaq.f4i.iw.examples.controller.CSVClassroomExporterController</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>CSV_exporter_classroom</servlet-name>
	    <url-pattern>/download-csv2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>CSV_exporter</servlet-name>
	    <url-pattern>/download-csv</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>modify_event_secondary</servlet-name>
	    <url-pattern>/modify_event_secondary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>modify_user</servlet-name>
	    <url-pattern>/modify_user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>modify_event</servlet-name>
	    <url-pattern>/modify_event</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>modify_classroom</servlet-name>
	    <url-pattern>/modify_classroom</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
    	<servlet-name>modify_manager</servlet-name>
    	<url-pattern>/modify_manager</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
    	<servlet-name>modify_classroom_group</servlet-name>
    	<url-pattern>/modify_classroom_group</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
    	<servlet-name>modify_location</servlet-name>
    	<url-pattern>/modify_location</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
	    <servlet-name>modify_tool</servlet-name>
	    <url-pattern>/modify_tool</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>modify_type</servlet-name>
    	<url-pattern>/modify_type</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
	    <servlet-name>modify_course</servlet-name>
	    <url-pattern>/modify_course</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
	    <servlet-name>given_day</servlet-name>
	    <url-pattern>/given_day</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
	    <servlet-name>current_events</servlet-name>
	    <url-pattern>/currentEvents</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>secured</servlet-name>
        <url-pattern>/secured</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_main</servlet-name>
        <url-pattern>/admin_main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>public</servlet-name>
        <url-pattern>/public</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>department</servlet-name>
        <url-pattern>/department</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>event_details</servlet-name>
        <url-pattern>/EventDetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homepage</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/webdb2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
